@model BookingFormModel


<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class-"heading-margin text-center">@ViewBag.Title</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="SmallLuggage"></label>
                    <select asp-for="SmallLuggage" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span asp-validation-for="SmallLuggage" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MediumLuggage"></label>
                    <select asp-for="MediumLuggage" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span asp-validation-for="MediumLuggage" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LargeLuggage"></label>
                    <select asp-for="LargeLuggage" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span asp-validation-for="LargeLuggage" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
                <a asp-controller="Bookings" asp-action="CancelAddLuggage" class="btn btn-warning float-right ml-3">Cancel</a>
            </form>
        </div>
    </div>
</div>