@model BookingFormModel


<div class="container">
    <div class="row">
        @*         <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6"> *@
        <section class="flex-column-regular flex-regular-add">
            <h3 class-"heading-margin text-center">Already Included:</h3>
            <div class="flex-row-regular flex-regular-add">
                <img class="card-img-top img-faq-partial" src="/Images/BaggageImages/smallBaggage.jpg">
                <div class="flex-column-regular flex-regular-add">
                    <p> 1 small bag</p>
                    <p> Must fit under the seat on the plane (40cm x 20cm x 25cm).</p>

                </div>
            </div>
            <p class="warning-style">
                If you bring a 2nd bag on board or your bag is too big to fit into the bag sizer
                (40cm x 20cm x 25cm) you will be charged a fee of up to €70 at the gate for every flight.
                To avoid fees, add more bags below.
            </p>
        </section>


        <section class="div-planes-partial card mb-3 flex-row-regular flex-regular-add percent100width">
            <h2 class-"heading-margin text-center">Need Extra Baggage?</h2>
            <div class="flex-column-regular flex-regular-add">
                <img class="card-img-top img-faq-partial" src="/Images/BaggageImages/smallBaggage.jpg">
                <img class="card-img-top img-faq-partial" src="/Images/BaggageImages/mediumBaggage.jpg">
                <img class="card-img-top img-faq-partial" src="/Images/BaggageImages/largeBaggage.jpg">
            </div>
            <section class="flex-row-regular flex-regular-add">
                <div>
                    <p>

                    </p>
                    <p>

                    </p>
                </div>

                <div>
                    <p>

                    </p>
                    <p>

                    </p>
                </div>

                <div>
                    <p>

                    </p>
                    <p>

                    </p>
                </div>
            </section>

            <form method="post" class="row-planes">
                <section class="flex-column-regular flex-regular-add">
                    
                    <div class="form-group flex-column-regular flex-regular-add">
                        <label class="" asp-for="SmallBaggage"></label>
                        <select asp-for="SmallBaggage" class="form-control-lime ">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <span asp-validation-for="SmallBaggage" class="small text-danger"></span>
                        @*                     <div id="result" class="result-box low-right">0</div> *@
                    </div>


                    <div class="form-group flex-column-regular flex-regular-add">

                        <label class="" asp-for="MediumBaggage"></label>
                        <select asp-for="MediumBaggage" class="form-control-lime">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <span asp-validation-for="MediumBaggage" class="small text-danger"></span>
                    </div>


                    <div class="form-group flex-column-regular flex-regular-add">
                        <label class="" asp-for="LargeBaggage"></label>
                        <select asp-for="LargeBaggage" class="form-control-lime">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <span asp-validation-for="LargeBaggage" class="small text-danger"></span>
                    </div>

                </section>

                <input class="btn btn-primary" type="submit" value="Save" />
                <a asp-controller="Bookings" asp-action="CancelAddBaggage" class="btn btn-warning">Cancel</a>
            </form>
            @*         </div> *@
        </section>
    </div>
</div>

@* <script>
    const selectElement = document.getElementById('smallBaggage');
    const resultDiv = document.getElementById('result');

    function updateResult() {
        const selectedValue = selectElement.value;
        const result = selectedValue * 20;
        resultDiv.textContent = result;
    }

    selectElement.addEventListener('change', updateResult);
    updateResult();
</script> *@