@inject SignInManager<Passanger> SignInManager
@inject UserManager<Passanger> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.Id();
        var userIsAdmin = User.IsAdmin();


        @if (!userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Bookings" asp-action="UserBookings">My Flights</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Planes" asp-action="All">Plane Admin</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Flights" asp-action="All">Flight Admin</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Planes" asp-action="Add">Add Aircraft</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Flights" asp-action="Add">Add Flight</a>
            </li>
        }



        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
        </li>
        <li class="nav-item image-test image-enhance">
            <i class="fa-regular fa-user"></i>
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
        </li>
    }
</ul>
