@model IEnumerable<FlightServiceModel>

@{
    ViewBag.Title = "My Flights";
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any flights yet!</h2>
}

<partial name="_FlightsPartial" model="@Model" />